@(user: models.user.User,
  event:models.gift.Event,
  p:models.gift.Participant,
  isOwnerOf: Boolean
)(implicit messages: Messages)

@import models.gift.Participant
@import utils.auth.WithOwnerOf

<tr>
  <td>@p.user.userName</td>
  <td>
    @if(
      event.creator != p.user &&
      p.user != user &&
      isOwnerOf ) {
      <select name="role" participantid="@p.id.get">
        @for(role <- Participant.Role.values) {
          <option
          @if(p.role == role) {
            selected
          }
          >@messages("participant.status." + role.toString.toLowerCase)</option>
        }
      </select>
    } else {
      @messages("participant.status." + p.role.toString.toLowerCase)
    }
  </td>
</tr>
