@(gift: models.gift.Gift)(implicit request: RequestHeader, messages: Messages)

@import models.gift.Gift

  <!-- Modal -->
  <div id="comment-gift-status-modal-@gift.id.get" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-comment-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h3 id="myModalLabel">@Messages("gift.comment.modal.title", gift.name)</h3>
        </div>

        <form class="gift-comment-form" action="" method="POST" data-id="@gift.id.get" class="form-inline">
          @helper.CSRF.formField
          <div class="modal-body modal-comment-body form-horizontal navbar-fixed-bottom">
            <div class="comments" id="comments">
            </div>


            <div class="form-group">
              <label for="comment" class="col-sm-2 control-label">@Messages("gift.comment.add")</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="comment" name="comment" placeholder="@Messages("gift.comment.your")">
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-offset-2 col-sm-10">
                <button class="btn btn-primary">@Messages("gift.comment.add")</button>
              </div>
            </div>
          </div>
        </form>


          
        <div class="modal-footer">
            <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">@Messages("close")</button>
        </div>
      </div>
    </div>
  </div