@(title: String,
confirmationMessage: String)(implicit messages: Messages)

  <!-- Modal -->
  <div id="delete-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h3 id="myModalLabel">@title</h3>
        </div>
        <div class="modal-body">
          <p>@confirmationMessage</p>
        </div>
        <div class="modal-footer">
          <form id="delete-event-form" action="" method="POST" class="form-horizontal">
            <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">Annuler</button>
            <button type="submit" class="btn btn-primary">Confirmer</button>
          </form>
        </div>
      </div>
    </div>
  </div