@(addParticipantForm: Form[(Long, String, String)]
)(implicit request: RequestHeader, messages: Messages)

@import helper._

@import models.gift._

<form class="form-search form-inline add-participant-form">
    @helper.CSRF.formField
    @addParticipantForm.globalError.map { error =>
      <div class="alert error">
        <p>@error.message</p>
      </div>
    }
    @addParticipantForm.error("eventid").map { error =>
      <div class="alert error">
        <p>@Messages(error.message)</p>
      </div>
    }
    @addParticipantForm.error("email").map { error =>
      <div class="alert error">
        <p>@Messages(error.message)</p>
      </div>
    }
    <div class="well">
  
      <input type="hidden" name="eventid" value="@addParticipantForm("eventid").value">
      
      @if(addParticipantForm.error("email")) {
        <div class="form-group  has-error" id="email_field">
       	  <input type="text" class="input-medium search-query" name="email" value="@addParticipantForm("email").value" placeholder="@play.i18n.Messages.get("participant.addemail")">
			<span id="email_error_0" class="help-block">@addParticipantForm.error("email").get.message</span>
			<span id="email_info_0" class="help-block"></span>
        </div>
      } else {
      	<input type="text" class="input-medium search-query" name="email" value="@addParticipantForm("email").value" placeholder="@play.i18n.Messages.get("participant.addemail")">
      }
      <select name="role">
        @for(role <- Participant.Role.values) {
            <option
            @if(role == addParticipantForm("role").value) {
              selected
            }
            >@role</option>
        }
      </select>
  
      <button type="button" class="btn btn-primary add-participant-btn">Ajouter</button>
    </div>
</form>

<script src="@routes.Assets.at("javascripts/participant_add_form.js")"></script>
