@(user: models.user.User,
  giftForm: Form[models.gift.GiftSimple],
  event: models.gift.Event,
  participants: List[models.gift.Participant]
)(implicit request: RequestHeader, messages: Messages)

@import play.api.i18n.Messages

@import helper._
@import b3.vertical.fieldConstructor  // Declares a vertical field constructor as default

@import models.gift._

@urlField(field: Field, className: String = "url")(implicit messages: Messages) = {
    @input(field, '_label -> "Liens:", '_class -> className) { (id, name, value, _) =>
      <div class="input input-group">
        <input type="text" class="form-control" name="@name" value="@value"> 
        <span class="input-group-btn">
          <button class="removeUrl btn btn-default" type="button"><i class="glyphicon glyphicon-remove"></i></button>
        </span>
      </div>
    }
}

@userHomeTemplate(title = Messages("gift.new"), user = user) {

  <hr/>

  @b3.form(action = routes.Events.postEditGift(giftForm("eventid").value.get.toLong)) {
    @helper.CSRF.formField
    @giftForm.globalError.map { error =>
      <div class="alert alert-danger" role="alert">
        <p>@error.message</p>
      </div>
    }
    @if(giftForm.hasErrors) {
        <div class="alert alert-danger" role="alert">
            <p><strong>Oops</strong> Corrigez toutes les erreurs</p>
        </div>
    }
    <div class="well new-gift">

      <input type="hidden" id="id" name="id" value="@giftForm("id").value" >
      <input type="hidden" id="creatorid" name="creatorid" value="@giftForm("creatorid").value" >
      <input type="hidden" id="eventid" name="eventid" value="@giftForm("eventid").value"> 
      @b3.text(
          giftForm("name"),
          '_label -> "Description du cadeau:",
          '_help -> "",
            '_error -> giftForm.error("name"),
          'class -> "form-control")      
          
        @if(giftForm("eventid").value.isDefined && event.eventType == Event.Type.Christmas) {
          @b3.select(
            giftForm("to"),
            options = (for(p <- participants) yield (p.user.id.toString, p.user.userName)).toSeq,
            '_label -> Messages("gift.to"),
            '_help -> "",
            'class -> "form-control"
          )
        }
        
      <div class="urls">

        @repeat(giftForm("urls"), min = 0) { url =>
          @urlField(url)
        }
        
        
        @**
         * Keep an hidden block that will be used as template for Javascript copy code
         **@
        @urlField(
          giftForm("urls[x]"),
          className = "url_template"
        )
        
        <div class="clearfix">
          <div class="input">
            <a class="addUrl btn btn-success">Ajouter un lien</a>
          </div>
        </div
      </div>
        
        
      <hr/>
          
      <div class="actions">
        <input type="submit" class="btn btn-primary" value="Soumettre" />
        <a href="@routes.Events.event(giftForm("eventid").value.get.toLong)">
          <input type="button" class="btn btn-danger" value="Annuler">
        </a>
      </div>              
    </div>

  }

<script src="@routes.Assets.at("javascripts/edit_gift.js")"></script>

  
}
