@(user: models.user.User,
  event: models.gift.Event,
  to: Option[models.user.User]
)

@import helper._
@implicitFieldConstructor = @{ FieldConstructor(helpers.bootstrapFieldConstructor.f) }

@import models.user._
@import models.gift._

@if(event.eventtype == Event.Type.Birthday) {
  <div class="tab-pane active" id="gifts">
 	@gifts_table(user, event, Gift.findByEventId(event.id.get))
  </div>
} else { 
  @if(event.eventtype == Event.Type.Christmas) {
    @for((p, i) <- Participant.findByEventId(event.id.get).view.zipWithIndex) {
      <div class=
      @if( (!to.isDefined && i == 0) || (to.isDefined && to.get == p.user)) {
        "tab-pane active"
      } else {
        "tab-pane"
      }
      id="dropdownGifts@p.user.id.get">
        <h4>Gifts for @p.user.name</h4>
        @gifts_table(user, event, Gift.findByEventId(event.id.get), Some(p.user))
      </div>
    }
  }
}


<script type="text/javascript">
  $('.link-button').popover({
    html:true // allow links inside popovers
  });
</script>