@(user: models.user.User,
  event: models.gift.Event,
  gifts:List[models.gift.Gift.GiftWithNotification]
)(implicit request: RequestHeader, messages: Messages)

@import play.i18n.Messages
@import models.gift._

<table id="gifts-table" class="table table-striped table-hover table-bordered tablesorter">
  <thead>
    <tr>
      <th>Description</th>
      @if(event.eventType == Event.Type.Christmas) {
        <th class="filter-select filter-exact" data-placeholder="Filtrer par nom">Pour</th>
      }
      <th class="filter-select filter-exact" data-placeholder="Filtrer par statut">Statut</th>
      <th>Liens</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    @for(g <- gifts) {
      @gift_row(user, g.gift, g.hasCommentNotification)
    }
  </tbody>
</table>

<div id="add-gift-form">
  <a href="@routes.Events.newGift(event.id.get)">
    <input type="button" class="btn btn-primary" value="@Messages.get("gift.add")">
  </a>
</div>

