@(user: models.user.User,
  g:models.gift.Gift,
  showStatusColumn: Boolean)

@import models.gift.Gift
@import controllers.UserApplication
@import views.html.modal.updateGiftModal

@urlLinks(urls: List[String]) = {
  @for((url, i) <- urls.view.zipWithIndex) { 
    <a href="@url" target="_blank\">Link @(i+1)</a>
  }
}


<tr>
  <td>@g.name</td>
  @if(showStatusColumn) {
    <td>
      @g.status
    </td>
  }
  <td>
    @urlLinks(g.urls)
  </td>
  <td>
    <div class="btn-toolbar">
      <div class="btn-group">
        <a class="btn btn-default" href="@routes.Events.viewGift(g.id.get)"><i class="glyphicon glyphicon-eye-open button-tooltip" data-toggle="tooltip" title="View details"></i></a>
        <a class="btn btn-default" href="@routes.Events.editGift(g.id.get)"><i class="glyphicon glyphicon-edit button-tooltip" data-toggle="tooltip" title="Edit"></i></a>
        @if(g.to != Some(user)) {
          @if(!g.from.isDefined || g.from.get == user) {
            <a class="btn btn-default open-gift-status-modal" data-id="@g.id.get"><i class="glyphicon glyphicon-credit-card button-tooltip" data-toggle="tooltip" title="Buy"></i></a>
          }
        }
        @if(g.creator == user) {
          <a class="btn btn-default open-delete-modal" data-id="@g.id.get"><i class="glyphicon glyphicon-remove"></i></a>
        }
      </div>
    </div>
  </td>
</tr>

@updateGiftModal(g)
