@(user: models.user.User,
  g:models.gift.Gift
)

@import models.gift.Gift
@import controllers.UserApplication

<tr>
  <td>@g.name</td>
  <td>
    @g.status
  </td>
  <td>
    <div class="btn-toolbar">
      <div class="btn-group">
        <a class="btn" href="@routes.Events.editGift(g.id.get)"><i class="icon-eye-open"></i></a>
        @if(g.creator == user) {
          <a class="btn open-delete-modal" data-id="@g.id.get"><i class="icon-remove"></i></a>
        }
      </div>
    </div>
  </td>
</tr>
