@(user: models.user.User,
  event: models.gift.Event,
  gifts:List[models.gift.Gift]
)

@import models.gift._

<table id="gifts-table" class="table table-striped table-hover table-bordered tablesorter">
  <thead>
    <tr>
      <th>Name</th>
      <th class="filter-select filter-exact" data-placeholder="Select name">Idea from</th>
      @if(event.eventtype == Event.Type.Christmas) {
        <th class="filter-select filter-exact" data-placeholder="Select name">To</th>
      }
      <th class="filter-select filter-exact" data-placeholder="Select status">Status</th>
      <th>Links</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    @for(g <- gifts) {
      @gift_row(user, g)
    }
  </tbody>
</table>

<div id="add-gift-form">
  <a href="@routes.Events.newGift(event.id.get)">
    <input type="button" class="btn btn-primary" value="Add a gift idea">
  </a>
</div>

