@(user: models.user.User,
  g:models.gift.Gift)(implicit request: RequestHeader, messages: Messages)

@import models.gift.Gift
@import views.html.modal.updateGiftModal
@import views.html.modal.commentGiftModal

@urlLinks(urls: List[String]) = {
  @for((url, i) <- urls.view.zipWithIndex) { 
    <a href="@url" target="_blank\">Link @(i+1)</a>
  }
}


<tr>
  <td class="col-md-4">@g.name</td>
  <td class="col-md-1">
    @if(g.to.isDefined) {
      @g.to.get.userName
    }
  </td>
  <td class="col-md-1">
    @if(g.to != Some(user)) {
      @if(g.from.isDefined) {
        <p class="bg-primary button-tooltip" data-toggle="tooltip" title="offert par @g.from.get.userName">@g.status</p>
      } else {
        @g.status
      }
    }
  </td>
  <td class="col-md-1">
    @urlLinks(g.urls)
  </td>
  <td class="col-md-5">
    <div class="text-centered">
      <div class="btn-group">
        <a class="btn btn-default btn-sm" href="@routes.Events.viewGift(g.id.get)"><i class="glyphicon glyphicon-eye-open button-tooltip" data-toggle="tooltip" title="Voir détails"></i></a>
        <a class="btn btn-default btn-sm" href="@routes.Events.editGift(g.id.get)"><i class="glyphicon glyphicon-edit button-tooltip" data-toggle="tooltip" title="Modifier"></i></a>
        <a class="btn btn-default btn-sm open-gift-status-modal" data-id="@g.id.get"
          @if(g.to == Some(user) || (g.from.isDefined && g.from.get != user)) {
            disabled="true"
          }
          
          ><i class="glyphicon glyphicon-credit-card button-tooltip" data-toggle="tooltip" title="Acheter"></i></a>
        <a class="btn btn-default btn-sm open-delete-modal" data-id="@g.id.get" data-action="deleteGift"
          @if(g.creator != user) {
            disabled="true"
          }
          ><i class="glyphicon glyphicon-remove"></i></a>
        <a class="btn btn-default btn-sm open-gift-comment-modal" data-id="@g.id.get">
          <i class="glyphicon glyphicon-comment button-tooltip" data-toggle="tooltip" title="@Messages("gift.comment")"></i>
        </a>
      </div>
    </div>
  </td>
</tr>

@updateGiftModal(g)
@commentGiftModal(g)
