@(user: models.user.User,
  gift: models.gift.Gift
)(implicit messages: Messages)

@import play.i18n.Messages
@import helper._

@import org.joda.time.format.DateTimeFormat

@import models.gift._

@userHomeTemplate(title = Messages.get("gift.view"), user = user) {

  <hr/>
  
  <table class="table">
    <tbody>
      <tr>
        <td>
          <h5 class="text-left">Description:</h5>
          <h6 class="text-left">@gift.name</h6>
        </td>
      </tr>
      @if(gift.to != Some(user)) {
        <tr>
          <td>
            <h5 class="text-left">Statut:</h5>
            <h6 class="text-left">@gift.status</h6>
          </td>
        </tr>
      }
      <tr>
        <td>
          <h5 class="text-left">@Messages.get("gift.creator")</h5>
          <h6 class="text-left">@gift.creator.username</h6>
        </td>
      </tr>
      @if(gift.to.isDefined) {
        <tr>
          <td>
            <h5 class="text-left">Pour:</h5>
            <h6 class="text-left">@gift.to.get.username</h6>
          </td>
        </tr>
      }
      @if(gift.from.isDefined && gift.to != Some(user)) {
        <tr>
          <td>
            <h5 class="text-left">Offert par:</h5>
            <h6 class="text-left">@gift.from.get.username</h6>
          </td>
        </tr>
      }
    </tbody>
  </table>
  
  @if(gift.to != Some(user)) {
    <table class="table table-striped table-hover table-bordered">
      <thead>
        <tr>
          <th>Who</th>
          <th>When</th>
          <th>What</th>
        </tr>
      </thead>
      <tbody>
        @for(h <- History.findByCategoryAndId("Gift", gift.id.get)) {
          <tr>
            <td>@h.user.username</td>
            <td>@DateTimeFormat.forPattern("HH:mm dd MMMM yyyy").print(h.creationDate)</td>
            <td>@h.content</td>
          </tr>
        }
      </tbody>
    </table>    
  }
}
