<fieldset class="col-md-6 col-md-offset-3">
  <div class="page-header"><h1 translate>Reset your password</h1></div>
  <div class="row">
    <form class="col-lg-12" [formGroup]="form" (ngSubmit)="submit(form.value)">
      <div
        class="form-group"
        [ngClass]="{ 'has-error': fh.hasError(form, 'password') }"
      >
        <label for="email" translate>New password</label>
        <div
          class="alert alert-danger"
          *ngIf="fh.hasError(form, 'password')"
          translate
        >
          Field required
        </div>
        <input
          class="form-control"
          type="password"
          id="password"
          name="password"
          [formControl]="form.controls['password']"
        />
        <div class="form-group">
          <button
            ng-disabled="form.$invalid"
            id="submit"
            value="submit"
            class="btn btn-lg btn-primary btn-block"
            translate
          >
            Reset password
          </button>
        </div>
      </div>
    </form>
  </div>
</fieldset>
