<div class="container">
  <div class="content">
    <div class="page-header">
      <h1></h1>
    </div>
    <div class="row">
      <app-left-menu></app-left-menu>
      <div class="col-md-10">
        <div class="container">
          <tabset *ngIf="event">
            <tab i18n-title title=Gifts>
              <table id="gifts-table" class="table table-striped table-hover table-bordered tablesorter">
                <thead>
                  <tr>
                    <th i18n>Description</th>
                    <th *ngIf="event.eventType == 'Christmas'" class="filter-select filter-exact" data-placeholder="name" i18n>For</th>
                    <th class="filter-select filter-exact" data-placeholder="status" i18n>Status</th>
                    <th i18n>Links</th>
                    <th i18n>Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let g of gifts">
                    <td class="col-md-4">{{g.name}}</td>
                    <td class="col-md-1">
                      <span *ngIf="g.to">{{g.to.userName}}</span>
                    </td>
                    <td class="col-md-1">
                      <ng-container *ngIf="g.to && g.to.id !== user.id">
                        <ng-container *ngIf="g.from">
                            <p class="bg-primary button-tooltip" data-toggle="tooltip" i18n-title title="Offered by {{g.from.userName}}" i18n>{{g.status}}</p>
                        </ng-container>
                        <ng-container *ngIf="!g.from" i18n>
                            {{g.status}}
                        </ng-container>
                      </ng-container>
                    </td>
                    <td class="col-md-1">
                      <li *ngFor="let url of g.urls"><a href="{{url}}" target="_blank\" i18n>Link</a></li>
                    </td>
                    <td class="col-md-5">
                      <div class="text-centered">
                        <div class="btn-group">
                          <a class="btn btn-default btn-sm" [routerLink]="['/events', event.id, 'gifts', g.id, 'view']"><i class="glyphicon glyphicon-eye-open button-tooltip" data-toggle="tooltip" i18n-title title="Details"></i></a>
                          <a class="btn btn-default btn-sm" [routerLink]="['/events', event.id, 'gifts', g.id, 'edit']"><i class="glyphicon glyphicon-edit button-tooltip" data-toggle="tooltip" i18n-title title="Modify"></i></a>
                          <button class="btn btn-default btn-sm open-gift-status-modal" data-id="{{g.id}}" [disabled]="g.from || g.from !== user">
                            <i class="glyphicon glyphicon-credit-card button-tooltip" data-toggle="tooltip" (click)="openChangeGiftModal(g)" i18n-title title="Buy"></i>
                          </button>
                          <button class="btn btn-default btn-sm open-delete-modal" [disabled]="g.creator !== user" data-id="{{g.id}}" data-action="deleteGift"><i class="glyphicon glyphicon-remove"></i></button>
                          <a 
                          [ngClass]="{'btn btn-info btn-sm open-gift-comment-modal': true, 'btn-info': hasComments[g.id], 'btn-default': !hasComments[g.id]}"
                          class="" data-id="{{g.id}}">
                            <i class="glyphicon glyphicon-comment button-tooltip" data-toggle="tooltip" i18ntitle="Comment"></i>
                          </a>
                        </div>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </tab>
            <tab i18n-title title=Participants>
              This is content of the contacts tab
            </tab>
          </tabset>
      </div>
    </div>
  </div>
</div>

<modal #changeGiftModal>
  <ng-container *ngIf="giftChange">
    <modal-header [show-close]="true">
        <h4 class="modal-title" i18n>Offer "{{giftChange.name}}"</h4>
    </modal-header>
    <modal-body>
        <label for="to" i18n>Change status:</label>  
        <select class="form-control" [(ngModel)]="giftChangeNewStatus" required>
            <option value="New" i18n>New</option>
            <option value="AboutToBeBought" i18n>About to be bought</option>
            <option value="Bought" i18n>Bought</option>
        </select>
    </modal-body>
    <modal-footer>
      <button type="button" class="btn btn-default" data-dismiss="modal" (click)="changeGiftModal.dismiss()" i18n>Cancel</button>
      <button type="button" class="btn btn-primary" (click)="changeGift()" i18n>Confirm</button>
    </modal-footer>
  </ng-container>
</modal>