
body {
    padding-top: 40px; /* 40px to make the container go all the way to the bottom of the topbar */
}

.table td, .table th {
   text-align: center;   
   vertical-align:middle;
}

.url_template {
    display: none;
}

.urls label {
    display: none;
}

.urls div:first-child label {
    display: inline-block;
}

.gift-status {
    text-align: center;
}

@import "navs_override.less";