
.table td, .table th {
   text-align: center;   
   vertical-align:middle;
}

.url_template {
    display: none;
}

.urls label {
    display: none;
}

.urls div:first-child label {
    display: inline-block;
}

.gift-status {
    text-align: center;
}
