@(user: models.user.User,
  event: models.gift.Event,
  to: Option[models.user.User] = None
)

@import helper._

@import models.user._
@import models.gift._

@import views.html.participants.participants
@import views.html.gifts.gifts
@import views.html.modal.deleteModal

@userHomeTemplate(title = event.name, user = user) {
  <ul class="nav nav-tabs">
    <li class="active"><a href="#gifts" data-toggle="tab">Gifts</a></li>

    <li><a href="#participants" data-toggle="tab">Participants</a></li>
    
  </ul>
  
  <div class="tab-content">
    @gifts(user, event, to)
    <div class="tab-pane" id="participants">
      @participants(user, event)
    </div>
  </div>
  
  @deleteModal("Confirm deletion",
    "If you delete this gift, you will make tons of users unhappy. Are you sure you want to do that ?")
}



