@(user: models.user.User,
  event: models.gift.Event,
  eventGifts: List[models.gift.Gift],
  p: List[models.gift.Participant],
  isOwnerOf: Boolean,
  to: Option[models.user.User] = None
)(implicit request: RequestHeader, messages: Messages, flash: Flash)

@import helper._

@import play.i18n.Messages
@import models.user._
@import models.gift._

@import views.html.participants.participants
@import views.html.gifts.gifts
@import views.html.modal.deleteModal

@userHomeTemplate(title = event.name, user = user) {
  <ul class="nav nav-tabs">
    <li class="active"><a href="#gifts" data-toggle="tab">Cadeaux</a></li>

    <li><a href="#participants" data-toggle="tab">Participants</a></li>
    
  </ul>
  
  <div class="tab-content">
    @gifts(user, event, eventGifts, to)
    <div class="tab-pane" id="participants">
      @participants(user, event, p, isOwnerOf)
    </div>
  </div>
  
  @deleteModal(Messages.get("gift.delete.confirm.title"), Messages.get("gift.delete.confirm.message"))
}



