@(loginForm: Form[(String, String)])

@import helper._
@implicitFieldConstructor = @{ FieldConstructor(helpers.bootstrapFieldConstructor.f) }

@main(title = "Home") {
  <div class="page-header">
    <h1>Connexion <small><a href="@routes.Application.signIn">Ou creer un nouveau compte</a></small></h1>
  </div>
  <div class="row">
    <div class="span14">
      @helper.form(routes.Application.authenticate) {

        @loginForm.globalError.map { error =>
          <div class="alert error">
            <p>@error.message</p>
          </div>
        }

        <fieldset>
          @inputText(
            loginForm("email"),
            '_label -> "Email",
            '_help -> "",
            '_error -> loginForm.error("email"),
            'class -> "form-control"
          )

          @inputPassword(
            loginForm("password"),
            '_label -> "Mot de passe",
            '_error -> loginForm.error("password"),
            'class -> "form-control"
          )
        </fieldset>

        <div class="actions">
          <input type="submit" class="btn btn-primary" value="Connexion">
        </div>
      }
      <h3>Ou utiliser l'un de vos comptes suivant:</h3>
      <a href="@routes.Application.googleLogin"> <img src="@routes.Assets.at("images/providers/google.png")"/></a>
      <a href="@routes.Application.yahooLogin"> <img src="@routes.Assets.at("images/providers/yahoo.png")"/></a>
    </div>
  </div>
}