@(loginForm: Form[(String, String)])

@import helper._
@import helper.twitterBootstrap._

@main(title = "Home") {
  <div class="page-header">
    <h1>Login <small><a href="@routes.Application.signIn">Or create a new account</a></small></h1>
  </div>
  <div class="row">
    <div class="span14">
      @helper.form(routes.Application.authenticate) {

        @loginForm.globalError.map { error =>
          <div class="alert error">
            <p>@error.message</p>
          </div>
        }

        <fieldset>
          @inputText(
            loginForm("email"),
            '_label -> "Email",
            '_help -> "",
            '_error -> loginForm.error("email")
          )

          @inputPassword(
            loginForm("password"),
            '_label -> "Password",
            '_error -> loginForm.error("password")
          )
        </fieldset>

        <div class="actions">
          <input type="submit" class="btn btn-primary" value="Login">
        </div>
      }
      <h3>Or use one of your following account:</h3>
      <a href="@routes.Application.googleLogin"> <img src="@routes.Assets.at("images/providers/google.png")"/></a>
      <a href="@routes.Application.yahooLogin"> <img src="@routes.Assets.at("images/providers/yahoo.png")"/></a>
    </div>
  </div>
}