@(user: models.user.User,
  eventForm: Form[models.gift.EventSimple]
)(implicit request: RequestHeader, messages: Messages)

@import play.i18n.Messages

@import helper._
@import b3.vertical.fieldConstructor  // Declares a vertical field constructor as default

@import models.user._
@import models.gift.Event

@userHomeTemplate(title= "Gifter nouvel evenement", user = user) {

  <hr/>


  @b3.form(action = routes.Events.postNewEvent, args = 'class -> "form-horizontal") {
    @helper.CSRF.formField
    @eventForm.globalError.map { error =>
      <div class="alert error">
        <p>@error.message</p>
      </div>
    }
    <div class="well">

      @b3.text(
          eventForm("name"),
          '_label -> messages("event.name"),
          '_help -> "",
          'class -> "form-control")      
          
      @input(eventForm("dateStr"), '_label -> "Date:", '_help -> "",
          'class -> "form-control") { (id, name, value, _) =>
        <input type="text" class ="form-control" id="datepicker" name="@name" value="@value"/>
      }
      @b3.select(eventForm("type"), options = options(Event.Type.values.toList.map(x=> messages("event.type." + x.toString.toLowerCase))), '_label -> "Type:", '_help -> "",
          'class -> "form-control")
          
      <div class="actions">
        <input type="submit" class="btn btn-primary" value="@messages("event.create")" />
        <a href="@routes.HomeController.index">
          <input type="button" class="btn btn-danger" value="Annuler">
        </a>
      </div>              
    </div>

  }
}

<script src="@routes.Assets.at("javascripts/newEvent.js")"></script>