@(user: models.user.User, profileForm:Form[(String, (Option[String], Option[String]))])(
  implicit
  flash: Flash
)

@import helper._

@main(title = "Modifier profil", connected = Some(user), screen = "profile") {
  @if(flash.get("success")){
      <p class="success">@flash.get("success")</p>
  }

  <div class="container">
    <div class="content">
      <div class="page-header">
              <h1>Modifier votre profil</h1>
      </div>
      <div class="row">
        <div class="span14">

          @form(routes.UserApplication.postProfile, args = 'class -> "form-horizontal") {
            <fieldset>
              @inputText(
                profileForm("name"), 
                '_label -> "Nom", 
                '_help -> "",
                'class -> "form-control")
            
              @inputPassword(
                profileForm("password.main"),
                '_label -> "Mot de passe",
                '_help -> "",
                'class -> "form-control"
              )
  
              @inputPassword(
                profileForm("password.confirm"),
                '_label -> "Confirmer mot de passe",
                '_error -> profileForm.error("password"),
                'class -> "form-control"  
              )
            </fieldset>
            <div class="actions">
              <input type="submit" value="Soumettre" class="btn btn-primary"/>
              <a href="@routes.UserApplication.index">
                <input type="button" class="btn" value="Annuler">
              </a>
            </div>
          }
        </div>
      </div>
    </div>
  </div>
}
