@(userForm: Form[models.user.RegistrationData])(
  implicit request: RequestHeader, session: Session, flash: Flash, messages: Messages
)
@import helper._
@import b3.vertical.fieldConstructor  // Declares a vertical field constructor as default

@main(title = "Sign in") {
  <div class="container">
    <div class="content">
      <div class="page-header">
      <h1>messages("signin.header")</h1>
      </div>
      
      <div class="row"><div class="span14">
        @b3.form(routes.RegistrationController.register, args = 'class -> "form-horizontal") {
        @helper.CSRF.formField
        @userForm.globalError.map { error =>
            <div class="alert alert-danger" role="alert">
              <p>@error.message</p>
            </div>
          }
          @flash.get("error").map { e =>
			<div class="alert alert-danger" role="alert">
              <p>@e</p>
            </div>
	      }
          
          <fieldset>
            @b3.text(userForm("username"), '_label -> "Nom", '_help -> "", 'class -> "form-control")
            @b3.text(userForm("email"), '_label -> "Email", '_help -> "", 'class -> "form-control")

            @b3.password(
              userForm("password.main"),
              '_label -> messages("signin.password"),
              '_help -> "",
              'class -> "form-control"
            )

            @b3.password(
              userForm("password.confirm"),
              '_label -> messages("signin.password.confirm"),
              '_error -> userForm.error("password"),
              'class -> "form-control"  
            )
          </fieldset>
          <div class="actions">
            <input type="submit" value="@messages("submit")" class="btn btn-primary"/>
            <a href="@routes.HomeController.index">
              <input type="button" class="btn btn-default" value="@messages("cancel")">
            </a>
          </div>
        }
      </div>
    </div>
  </div>
}