@(user:models.user.User,
title:String = "Gifter home")(body: Html)(implicit messages: Messages)

@import play.api.i18n.Messages

@main(title, connected = Some(user)){
  <div class="container">
    <div class="content">
      <div class="page-header">
        <h1/>
      </div>
      <div class="row">
        <div class="col-md-2 bs-docs-sidebar">
          <ul class="nav nav-pills nav-stacked">
            <li
              @if(title.contains("home")){
                class="active"
              }><a href="@routes.HomeController.index">@Messages("event.list")</a></li>
            <li@if(title.contains("new event")){
                class="active"
              }><a href="@routes.Events.newEvent">@Messages("event.new")</a></li>
          </ul>
        </div>
        <div class="col-md-10">
          @body
        </div>
      </div>
    </div>
  </div>
}
<script type="text/javascript">
  $('.open-delete-modal').click(function() {
    var giftid = $(this).data('id');
    var action = $(this).data('action');
    $(".modal-footer #delete-event-form").attr("action", "/" + action + "/" + giftid);
    $('#delete-modal').modal('show');
  });
  

  $('.open-gift-status-modal').click(function() {
    var giftid = $(this).data('id');
    $("#update-gift-status-" + giftid + "-form").attr("action", "/updateGiftStatus/" + giftid);
    $('#update-gift-status-modal-' + giftid).modal('show');
  });
  
  $('.dropdown-toggle').dropdown()
  
  $(document).ready(function() {
    $('.button-tooltip').tooltip();
  });
</script>
